/*!
 * Bootstrap Docs (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under the Creative Commons Attribution 3.0 Unported License. For
 * details, see http://creativecommons.org/licenses/by/3.0/.
 */
 .bs-callout{
 padding:20px;margin:20px 0;border:1px solid #eee;border-left-width:5px;border-radius:3px
 }
 
 .bs-callout h4{
 margin-top:0;margin-bottom:5px
 }
 
 .bs-callout p:last-child{
 margin-bottom:0
 }
 
 .bs-callout code{
 border-radius:3px
 }
 
 .bs-callout-danger{
 border-left-color:#d9534f
 }
 
 .bs-callout-danger h4{
 color:#d9534f
 }
 
 .bs-callout-warning{
 border-left-color:#f0ad4e
 }
 
 .bs-callout-warning h4{
 color:#f0ad4e
 }
 
 .bs-callout-info{
 border-left-color:#5bc0de
 }
 
 .bs-callout-info h4{
 color:#5bc0de
}

 .bs-callout-success{
 border-left-color:#51A351
 }
 
 .bs-callout-success h4{
 color:#51A351
}

 .bs-callout-inverse{
 border-left-color:#333
 }
 
 .bs-callout-inverse h4{
 color:#333
}

 .bs-callout-default{
 border-left-color:#999
 }
 
 .bs-callout-default h4{
 color:#999
}

 .bs-callout-primary{
 border-left-color:#04C
 }
 
 .bs-callout-primary h4{
 color:#04C
}
